*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

@keyframes movefromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes movefromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes movefromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

a {
  text-decoration: none;
  color: black; }

.heading-tertiary {
  font-size: 4rem; }

.para {
  font-size: 1.7rem; }

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff"); }

.u-center-text {
  text-align: center; }

.u-mrg-big {
  margin-bottom: 8rem; }

.u-mrg-small {
  margin-bottom: 2rem; }

.u-mrg-medium {
  margin-bottom: 4rem; }

.no-mrg {
  margin: 0; }

.btm-right {
  position: absolute;
  bottom: 0rem;
  right: 0rem; }

.card {
  height: 27rem;
  margin: 0 auto; }
  .card__photo {
    height: 22rem; }
  .card__details {
    font-size: 1.5rem;
    transform: translateX(-10%); }
  .card__design {
    box-shadow: 3px 6px 2rem rgba(0, 0, 0, 0.5);
    border-radius: 1.2rem; }

.Arrow__right {
  position: absolute;
  background-image: LINEAR-GRADIENT(TO RIGHT, RGB(0, 0, 0), RGB(0, 0, 0));
  height: 12rem;
  width: 5rem;
  top: 45%;
  right: 0;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); }

.Arrow__left {
  position: absolute;
  background-image: LINEAR-GRADIENT(TO RIGHT, RGB(0, 0, 0), RGB(0, 0, 0));
  height: 12rem;
  width: 5rem;
  top: 45%;
  left: 0;
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%); }

.About__Page {
  position: relative; }

.header {
  background-image: LINEAR-GRADIENT(TO RIGHT, RGB(15, 126, 245), RGB(8, 89, 196));
  -webkit-background-clip: text;
  color: transparent;
  transition: all .6s;
  font-size: 6rem;
  margin: 0 0 5rem 0;
  text-align: center;
  font-family: 'SEGA LOGO FONT'; }
  .header:hover, .header:active {
    transform: translateY(1rem) scale(1.25); }
  .header__heading {
    display: block; }

.footer {
  background-color: black;
  color: #7ed56f;
  text-align: center;
  margin-top: 3rem;
  height: 30vh;
  position: relative; }

.bigcard {
  height: device-width; }

.row {
  width: 128rem;
  margin: 0px auto;
  margin-bottom: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    margin-top: 3rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc(( 128rem - 2rem)/2); }
  .row .col-1-of-3 {
    width: calc((128rem - 2* 2rem)/3); }
  .row .col-1-of-4 {
    width: calc((128rem - 3*2rem)/4); }
  .row .col-2-of-3 {
    width: calc((2*(128rem - 2*2rem)/3 ) + 2rem); }
  .row .col-2-of-4 {
    width: calc(2 *((128rem - 3*2rem)/4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 *((128rem - 3*2rem)/4) + 2 * 2rem); }

.Robo {
  background-image: LINEAR-GRADIENT(TO RIGHT, RGB(0, 255, 157), RGB(113, 0, 184)); }
